/* Webfont: GothamHTF-Medium */@font-face {
    font-family: 'GothamHTF';
    src: url('GothamHTF-Medium.eot'); /* IE9 Compat Modes */
    src: url('GothamHTF-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('GothamHTF-Medium.woff') format('woff'), /* Modern Browsers */
         url('GothamHTF-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('GothamHTF-Medium.svg#GothamHTF-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

